* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#head {
  background-color: rgb(211, 68, 68);
  color: #ffcc00;
  font-size: 40px;
  text-align: center;
}

/* Background Image */
.bgImag {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

/* container */
.container {
  align-items: center;
  background-color: white;
}

/* class - bars */
.headbar {
  font-size: 20px;
  background-color: rgb(211, 68, 68);
  color: #ffcc00;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.lessonText {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  word-spacing: 8px;
  text-align: center;
  font-weight: bold;
}

h2 {
  padding-top: 20px;
  padding-left: 20px;
}

.lessons {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211, 68, 68);
  color: #ffcc00;
  text-align: center;
  padding: 5px;
}
